.el-table--enable-row-transition .el-table__body td {
  padding: 0 !important;
}

.el-table thead th {
  background: #dcdfe6;
}

.el-table__row td {
  &:first-child {
    background: #dcdfe6;
    color: #909399;
    font-weight: bold;
  }
}

.deliveryContainer {
  .toolBar {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    p {
      font-size: 14px;
      span {
        padding-right: 20px;
      }
    }
    i {
      font-size: 24px;
      cursor: pointer;
    }
  }

  .cellInput {
    border: none;
    background: none;
    outline: none;
    text-align: center;
    width: 60px;
    height: 40px;
    &:focus {
      border: none;
      background: none;
    }
  }

  .el-icon-setting {
    z-index: 20;
    font-size: 25px;
    color: #99a9bf;
    cursor: pointer;
  }

  .line {
    padding-top: 20px;
    span {
      display: inline-block;
      width: 80px;
      padding-right: 30px;
    }
  }

  .itemLine {
      margin-bottom: 10px;
    span,i {
      display: inline-block;
      width: 160px;
    }
    .opacityInput{
        font-size: 16px;
        width: 160px;
    }

    .el-icon-close {
      position: relative;
      left: 0;
      top: 0;
    }
  }
}
