#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.container {
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  padding: 30px; 
  background: #eff0f3;
  border-radius: 20px;
  margin: 100px;
  width: 85%;
  height: 85%;
  overflow: hidden;
  position: relative;
  .wrapper{
    width: 95%;
    height: 90%;
    position: relative;
  }
}

.navTitle{
  position: fixed;
  left: 8%;
  top: 15px;
  font-weight: normal;
  font-size: 40px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}

