.nav{
  height: 60%;
  position: fixed;
  height: 100%;
  right: 40px;
  z-index: 10;
  .listContainer{
    border: 1px solid #e5e5e5;
    background: #eff0f3;
    padding: 20px 0;
    list-style: none;
    border-radius: 12px;
    a{
      padding: 10px;
      cursor: pointer;
      text-decoration: none;
      color:#2c3e50;
      &:hover{
        transform: scale(1.2,1.2);
        transition: all .3s ease;
      }
    }
  }
}