.searchContainer{
  height: 100%;
  position: relative;
  .searchItem{
    margin-right: 30px; 
    span:first-child{
      padding-right: 10px;
    }
  }
}
.editContainer{
    p{
        margin-bottom: 20px;
        padding: 0 10%;
    }
}